Job Tracking Order No.json
{
  "name": "Job Tracking Order No",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Order No"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -752,
        -48
      ],
      "id": "d9914401-6d10-4dd7-8b58-0f9448842dfb",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "=https://appsrv.directcouriers.com.au/online/jobtrackgen.cl?order_no={{ $json['Order No'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -528,
        112
      ],
      "id": "cb7397ee-ce80-4fe8-9308-62f9d5076df0",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "functionCode": "const content = ($json.body || $json.data || '').toUpperCase();\n\nconst genericKeywords = [\n  \"HOME\",\n  \"TOOLS\",\n  \"CONTACT US\",\n  \"TERMS & CONDITIONS\",\n  \"DIRECT JOB TRACK\",\n  \"NO JOB FOUND\",\n  \"NOT FOUND\"\n];\n\nfor (const keyword of genericKeywords) {\n  if (content.includes(keyword)) {\n    return [{ valid: false }];\n  }\n}\nreturn [{ valid: true }];\n"
      },
      "name": "Check Validity",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -320,
        144
      ],
      "id": "e8b56b10-a98c-4baf-9b07-38af13a231ae"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.valid }}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -144,
        112
      ],
      "id": "c4635ae8-51f7-4474-8238-304b8fbab811"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "=Here is your tracking link: =https://appsrv.directcouriers.com.au/online/jobtrackgen.cl?order_no={{ $('When Executed by Another Workflow').item.json['Order No'] }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Return Success Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "523038fa-221e-4ba0-b49b-d74310f5ebc1"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "Sorry, we couldn’t find any tracking info. Please check the number or visit https://www.directcouriers.com.au/bookings or call 13 16 10."
            }
          ]
        },
        "options": {}
      },
      "name": "Return Fail Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        208,
        208
      ],
      "id": "d5275b45-8ee8-4c1f-8bd1-4f75f93e2b80"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "Order No": "110155773/CS1019972"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Check Validity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validity": {
      "main": [
        [
          {
            "node": "IF Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Valid?": {
      "main": [
        [
          {
            "node": "Return Success Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Fail Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7a1a36ea-5200-4a9e-a9cb-1eef7b13f2e9",
  "meta": {
    "instanceId": "290a562048df3bc87a0e698bc107e3dbe88ada8eddff0a3ba0750bc230380c39"
  },
  "id": "8lxq1Tay5oNAFD7g",
  "tags": []
}