Job Tracking Reference.json
{
  "name": "Job Tracking Reference",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Reference"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -784,
        -48
      ],
      "id": "5129ee7a-c86d-4ca9-8716-06a242dde324",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "=https://appsrv.directcouriers.com.au/online/jobtrackgen.cl?reference={{ $json['Reference'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -544,
        112
      ],
      "id": "640392fd-962d-4b1f-9f44-b89e6d493bc5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "functionCode": "const content = ($json.body || $json.data || '').toUpperCase();\n\nconst genericKeywords = [\n  \"HOME\",\n  \"TOOLS\",\n  \"CONTACT US\",\n  \"TERMS & CONDITIONS\",\n  \"DIRECT JOB TRACK\",\n  \"NO JOB FOUND\",\n  \"NOT FOUND\"\n];\n\nfor (const keyword of genericKeywords) {\n  if (content.includes(keyword)) {\n    return [{ valid: false }];\n  }\n}\nreturn [{ valid: true }];\n"
      },
      "name": "Check Validity",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -336,
        112
      ],
      "id": "f1139201-9f93-4607-a8cd-3c06d093f5f1"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.valid }}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -176,
        96
      ],
      "id": "98c79840-443c-4a11-92fc-5bb3764f08ec"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "=Here is your tracking link: =https://appsrv.directcouriers.com.au/online/jobtrackgen.cl?reference={{ $('When Executed by Another Workflow').item.json.Reference }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Return Success Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        208,
        32
      ],
      "id": "7e91b063-831e-4840-8250-b65d6cff3907"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "Sorry, we couldn’t find any tracking info. Please check the number or visit https://www.directcouriers.com.au/bookings or call 13 16 10."
            }
          ]
        },
        "options": {}
      },
      "name": "Return Fail Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        96,
        224
      ],
      "id": "29c844e5-315e-41f6-b36b-98ac1c64738d"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Check Validity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validity": {
      "main": [
        [
          {
            "node": "IF Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Valid?": {
      "main": [
        [
          {
            "node": "Return Success Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Fail Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1587f8df-b0ab-4eb4-bd3d-70b121e02234",
  "meta": {
    "instanceId": "290a562048df3bc87a0e698bc107e3dbe88ada8eddff0a3ba0750bc230380c39"
  },
  "id": "jPoqWxtakwYyih10",
  "tags": []
}